@import url("../bootstrap-2.2.2/css/bootstrap.css");
.navbar img {
  height: 32px;
  vertical-align: middle;
  border-radius: 3px;
}
tr.pullrequest img {
  height: 24px;
  vertical-align: middle;
  border-radius: 3px;
}
