@import url("../bootstrap-2.2.2/css/bootstrap.css")
@import url("../bootstrap-2.2.2/css/bootstrap-responsive.css")

body
  padding-top: 60px

.navbar img
  height: 24px
  vertical-align: middle
  border-radius: 3px
  margin: 2px 2px 0 2px

.navbar-inverse
  color: #999

.navbar .profile
  padding: 7px 0

tr.pullrequest img
  height: 24px
  vertical-align: middle
  border-radius: 3px
  margin: 2px 2px 0 2px

tr.pullrequest.ignore
  opacity: 0.5

td.last_update
  img
    margin-right: 0.5em

  .content
    word-break: break-all
    font-size: smaller
    margin: 2px 2px 0

div.repo
  color: #999
  font-size: x-small

div.branch
  color: #999
  font-size: x-small
  font-family: Menlo, Monaco, monospace
  margin-top: 0.5em
  cursor: pointer
  &:hover
    outline: 1px solid #ccc

.nowrap
  white-space: nowrap
